name: Publish package to PyPI

on:
  workflow_run:
    workflows: ["Check linting and formatting"]
    types:
      - completed
    branches:
      - release

permissions:
  contents: read

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    environment:
      name: pypi
      url: https://pypi.org/project/lain-shorten/
    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Build package
        run: uv build

      - name: Publish package
        run: uv publish
